In [1]:
import pandas as pd

In [2]:
students = [('jack', 34, 'Sydeny', 34, 'Sydeny', 34),
            ('Riti', 30, 'Delhi', 30, 'Delhi', 30),
            ('Aadi', 16, 'New York', 16, 'New York', 16),
             ('Riti', 30, 'Delhi', 30, 'Delhi', 30),
            ('Riti', 30, 'Delhi', 30, 'Delhi', 30),
            ('Riti', 30, 'Mumbai', 30, 'Mumbai', 30),
            ('Aadi', 40, 'London', 40, 'London', 40),
            ('Sachin', 30, 'Delhi', 30, 'Delhi', 30)
           ]
 
# Create a DataFrame object
dfObj = pd.DataFrame(students, columns=['Name', 'Age', 'City', 'Marks', 'Address', 'Pin'])

#dfObj =pd.read_csv('C:/Users/Rezaul Abedin/Desktop/temp/train_numeric_5.csv')

In [3]:
dfObj

     Name  Age      City  Marks   Address  Pin
0    jack   34    Sydeny     34    Sydeny   34
1    Riti   30     Delhi     30     Delhi   30
2    Aadi   16  New York     16  New York   16
3    Riti   30     Delhi     30     Delhi   30
4    Riti   30     Delhi     30     Delhi   30
5    Riti   30    Mumbai     30    Mumbai   30
6    Aadi   40    London     40    London   40
7  Sachin   30     Delhi     30     Delhi   30

In [6]:
import pdb
def getDuplicateColumns(df):
    '''
    Get a list of duplicate columns.
    It will iterate over all the columns in dataframe and find the columns whose contents are duplicate.
    :param df: Dataframe object
    :return: List of columns whose contents are duplicates.
    '''
    duplicateColumnNames = set()
    # Iterate over all the columns in dataframe
    for x in range(df.shape[1]):
        
       # Select column at xth index.
        col = df.iloc[:, x]
        #print (col)
        # Iterate over all the columns in DataFrame from (x+1)th index till end
        for y in range(x + 1, df.shape[1]):
            
            #print (y)
            # Select column at yth index.
            otherCol = df.iloc[:, y]
            
            # Check if two columns at x 7 y index are equal
            if col.equals(otherCol):
                duplicateColumnNames.add(df.columns.values[y])
                
 
    return list(duplicateColumnNames)

In [7]:

# Get list of duplicate columns
duplicateColumnNames = getDuplicateColumns(dfObj)
 
print('Duplicate Columns are as follows')
for col in duplicateColumnNames:
    print('Column name : ', col)

Duplicate Columns are as follows
Column name :  Marks
Column name :  Pin
Column name :  Address